* {margin:0; padding:0;}
body {
    font-family:'Maven Pro',sans-serif;
    color:white;
    background:url('../images/pattern.png');
}
li {
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
}
::-webkit-input-placeholder {
    color: black;
}

:-moz-placeholder { /* Firefox 18- */
    color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: black;
}

:-ms-input-placeholder {
    color: black;
}
::-webkit-scrollbar {
    width: 7px;
    border-radius:4px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: #242424;
    border-radius:4px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
::-webkit-scrollbar-button {
    background-color: #7D92A6;
    height: 10px;
    border-radius: 4px;
    display:none;
}
::-webkit-scrollbar-corner {
    background-color: white;
    cursor: pointer;
}
button {
    outline: none;
    background-color: transparent;
    border: none;
}
button:hover{
    cursor:pointer;
}
input[type=submit]:hover{
    cursor:pointer;
}
input[type=button]:hover{
    cursor:pointer;
}
textarea{
    outline: none;
    border: none;
    width: 270px;
    box-shadow:0 0 2px #424242;
    padding:10px 5px;
}
.textbox {
    width:250px;
    background:white;
    outline:none;
    padding:10px;
    border:none;
    box-shadow:0 0 2px #424242;
    margin:2px;
}
.dropdown {
    width:270px;
    background:white;
    outline:none;
    padding:10px;
    border:none;
    box-shadow:0 0 2px #424242;
    margin:2px;
}
.buttons {
    width:80px;
    padding:10px;
    margin:2px;
    outline:white;
    border:none;
    color:white;
}
.modal-display{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    position: fixed;
    z-index: 500;
    top: 0;
}
.modal-dialog {
    background-color: white;
    z-index: 150;
    position: absolute;
    width: 100%;
    margin-top: 2px;
    box-shadow: 0 0 41px #242424;
    color: rgb(52, 52, 52);
}
.modal-header{
    float:left;
    color:rgb(0, 132, 255);
    padding:25px;
}
.modal-body{
    padding:20px;
    float:left;
    width: 55%;
}
.modal-body .row div{
    float:left;
    padding:7px 5px;
}
.modal-footer{
    float: left;
    padding: 20px;
}
.add-truck-input {
    width:140px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #0074D2;
    padding: 4px;
}
.has-error {
    border:1px solid red;
}
.has-success {
    border:1px solid green;
}
.line-error {
    color: red;
}
.line-success {
    color: green;
}
.help-block {
    font-size: 12px;
    color:red;
}
.signup-list {
    width:360px;
    margin:5% auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height:320px;
}
.signup-list li label{
    float:left;
    padding:4px 0;
}

.signup-list::-webkit-scrollbar {
    width: 5px;
    border-radius:1px;
}
.signup-list::-webkit-scrollbar-track {
    background:#242424;
}
.signup-list::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
}
.signup-list::-webkit-scrollbar-button {
    display:none;
}
.signup-list::-webkit-scrollbar-corner {
    background-color: white;
}
.alert-success {
    background-color: rgb(0, 189, 0);
}
.alert{
    width: 400px;
    margin: 0 auto;
    height: 20px;
    text-align: center;
    padding: 20px 0;
}
.alert-danger {
    background-color: #ff0000;
}
.alert-info {
    background-color: #ffff50;
}
.alert-warning {
    background-color: orange;
}
.datepicker-date{
    display:none;
}
.btn{
    display:none;
}
header {
    height:45px;
    width:100%;
    background:linear-gradient(white,lightgray);
    box-shadow: 0 0 8px #424242;
    z-index: 9999;
    position: fixed;
    top: 0;
}
.username-place:hover .dropdown-menu{
    display: block;
}
#logo {
    height:40px;
    float:left;
    padding:2px 0;
    margin-left:4%;
}
.navmenu {
    width: 650px;
    height: 100%;
    float: right;
    font-size: 15px;
    font-weight: 500;
    margin-right: 40px;
}
.username-place {
    color:#0040D0;
    font-weight: 500;
    font-size: 17px;
    margin-top: -3px;
}

.dropdown-menu {
    display:none;
    background-color: rgb(5, 101, 200);
    width: 125px;
    height: 50px;
    position: absolute;
    margin-top: 14px;
    margin-left: -53px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 6px #424242;
}
.dropdown-menu a {
    color:white;
}
.menu-btn{
    display:none;
}
.navmenu  li {
    float:right;
    padding: 14px 12px;
}
.navmenu  li  a:hover {
    color:#006FD7;
}

/* Login page & panel Designs */
#panel-logo {
    width:88%;
}
.loginpanel {
    background:rgb(0,0,0);
    z-index:100;
    width:400px;
    height:400px;
    margin:5% auto;
}
.loginpanel ul {
    width:274px;
    margin:10% auto;
}
.loginpanel ul li{
    margin:10px auto;
}
.loginpanel ul li a {
    color:white;
}

/* Signup page & panel Designs */

.signuppanel {
    background:rgb(0,0,0);
    z-index:100;
    width:400px;
    height:500px;;
    margin:3% auto;
}
.signuppanel ul {
    width:280px;
    margin:5% auto;
}
.signuppanel ul li{
    margin:10px auto;
}
.steps {
    width: 30px;
    text-align: -webkit-center;
    background: url('../images/next.png') no-repeat;
    background-size: cover;
    font-size: 16px;
    float: left;
    height: 30px;
    margin-left: 46px;
    line-height: 28px;
    margin-bottom: 30px;
}
.step2, .step3 {
    display:none;
}
.closediv {
    float:right;
    position:absolute;
    top:0;
    right:0;
    margin-right: 11px;
    color: white;
    margin-top: 7px;
}
.container {
    width:96%;
    margin:0 auto;
    margin-top: 75px;
}


/* Home page Styles */


.loaddetails, .truckdetails {
    width: 400px;
    height: 400px;
    background:rgba(0,0,0,.8);
    float:left;
    margin:3% 3%;
}
.slider {
    width:100%;
    height:325px;
}
.loaddetailpane, .truckdetailpane {
    padding:2% 5%;
    display:block;
}
.first-slide {
    display:block;
}
.loaddetailpane li, .truckdetailpane li {
    padding-bottom:3%;
    height:20px;
}
#profilepic {
    height:60px;
    vertical-align:middle;
    background:url('../images/proholder.png') no-repeat;
    background-size:cover;
    margin-right: 11px;
}
.nameplace {
    height:60px;
    padding:30px 20px;
}
.nameplace a:hover {
    color:#C24C0F;
}
.nameplace a {
    color:white;
    font-size: 17px;
    font-weight: 700;
}
.infos {
    padding:4px 10px;
    color:white;
    font-size: 17px;
    font-weight: 700;
}
.button-opt {
    margin-top:0;
}
.button-opt li {
    float:left;
    padding:0 25px;
}
.button-option {
    padding:4px 15px;
    font-size:13px;
    font-weight:700;
    background:transparent;
    outline:none;
    border:2px solid white;
    color:white;
}
.button-option:hover {
    background:#ffffff;
    color:#242424;
    cursor:pointer;
}


/* My trucks page Style */
.profile-details p{
    font-family: 'Maven Pro', sans-serif;
}
.profile-details li {
    float:left;
}
.profile-details b {
    color:#006CDB;
}
.pagepane-selection{
    display:none;
}
.pagepane{
    height:500px;
    width:400px;
    margin-top:20px;
    box-shadow:0 0 12px #848484;
}
.mytruckpane {
    background:rgb(0, 108, 219);
    float:left;
}
.mypostpane{
    background:rgb(0, 108, 219);
    float:right;
}
.div-header {
    width:100%;
    height:75px;
}
.pane-icon {
    height:50px;
    padding:10px;
    float:left;
}
.div-header h4 {
    padding: 23px 4px;
    float:left;
    color:#f5f5f5;
}

.searchbox {
    outline:none;
    border:none;
    background:transparent;
    width:150px;
    padding:7px;
}
.div-header .searchbox {
    margin:20px 0px 0 15px;
    float:left;
    border-bottom:2px solid #f5f5f5;
    color:#f5f5f5;
}
.div-header button {
    outline: none;
    background-color: transparent;
    border: none;
    height: 50px;
    float: left;
    margin-top:1px;
    cursor: default;
}
.div-header button img {
    height: 45%;
    margin-top: 20px;
}
.posts {
    height:400px;
    width:380px;
    padding:10px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.searchbox::-webkit-input-placeholder{
    color:#f5f5f5;
}
.searchbox:-ms-input-placeholder{
    color:#f5f5f5;
}
.searchbox:-moz-placeholder{
    color:#f5f5f5;
}
.searchbox::-moz-placeholder{
    color:#f5f5f5;
}
.runtime-div {
    width:380px;
    height:75px;
    margin-bottom: 10px;
}
.runtime-details{
    font-size:14px;
    padding:2px;
    width: 245px;
    color:#f5f5f5;
}
.runtime-details a{
    color:#F9FF02;
}
.runtime-icon {
    height:55px;
    padding:10px;
    float:left;
}
.runtime-options {
    float:right;
    width: 125px;
    height: 75px;
    margin-top: -63px;
}
.runtime-options button {
    outline: none;
    background-color: transparent;
    border: none;
    float: left;
    height: 45px;
    margin: 17px 3px;
    font-size: 11px;
    width: 32px;
    color: #f5f5f5;
}
.runtime-options button img {
    padding-bottom:3px;;
}


/* Slider Css */

.slide-frame {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.wave-enter-setup, .wave-leave-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    position:relative;
    display:table;
    float:left;
}

.wave-enter-setup {
    left:100%;
}

.wave-enter-start {
    left:0;
}

.wave-leave-setup {
    left:0%;
}

.wave-leave-setup.wave-leave-start {
    left:-100%;
}

.floatNone{ clear:both; position:relative;}

.my-special-animation.ng-enter {
    opacity : 0;
}
.my-special-animation.ng-leave {
    opacity : 0;
}
.my-special-animation.ng-enter.ng-enter-active {
    opacity : 1;
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    -webkit-animation: myfirst 5s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
}

@keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
}

.switch {
    position: relative;
}

.switch > div {
    width: 655px;
    display: inline-block;
    position: absolute;
}
.animate-enter,
.animate-leave
{
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}

.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}


.infos {
    padding:4px 10px;
    color:white;
    font-size: 17px;
    font-weight: 700;
}
.insert-enter {
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}
.insert-enter.insert-enter-active {
    -webkit-transform:scale(1);
    transform:scale(1);
    transition-delay:500ms;
}
.insert-transition-delay-1 {
    -webkit-transition-delay:1000ms;
    transition-delay:1000ms;
}
.insert-transition-delay-2 {
    -webkit-transition-delay:2000ms;
    transition-delay:2000ms;
}
.insert-transition-delay-3 {
    -webkit-transition-delay:3000ms;
    transition-delay:3000ms;
}
.insert-transition-delay-4 {
    -webkit-transition-delay:4000ms;
    transition-delay:4000ms;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
/* Trucks */

.add-post {
    float: left;
    background: rgb(0, 108, 219);
    margin-left: 7px;
    height: 500px;
    width: 350px;
    margin-top: 20px;
    color:white;
}
.add-post  h4 {
    padding:15px;
    color:white;
}
.add-post  ul {
    padding:15px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.add-post  ul li {
    padding:5px 10px;
}
.close-label {
    float:right;
    padding: 10px 5px;
    font-size: 13px;
    cursor: pointer;
}
#truckManagePanel label{
    font-size: 13px;
}
.proxied-field-wrap input {
    width:250px;
    background:white;
    outline:none;
    padding:10px;
    border:none;
    box-shadow:0 0 2px #424242;
    margin:2px;
}
.edit-truck-details {
    float: left;
    background:rgb(0, 108, 219);
    margin-left: 7px;
    height: 500px;
    width: 350px;
    margin-top: 20px;
    color:white;
}
.edit-truck-details  ul {
    padding:15px;
}
.edit-truck-details  h4 {
    padding:15px;
    color:white;
}
.edit-truck-details  ul li {
    padding:5px 10px;
}
.add-truck-bg {
    position:absolute;
    z-index:9999;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    top:0;
    left:0;
}
.add-truck-div {
    background:#f5f5f5;
    width:900px;
    height:500px;
    margin:4% auto;
}
.add-truck-head {
    width:100%;
    height:40px;
    background:linear-gradient(#ffffff,#e2e2e2);
    box-shadow:0 0 4px #242424;
}
.add-truck-head h4 {
    color:black;
    float:left;
    padding:10px;
}
.add-truck-head label {
    color:black;
    float:right;
    padding:10px;
    font-size:12px;
}
.add-truck-details {
    margin:7px auto;
    border-collapse:collapse;
    width: 900px;
}
.add-truck-details thead{
    background:rgb(0, 116, 210);
}
.add-truck-details thead td {
    padding: 7px 6px;
}
.add-truck-details tbody td {
    padding: 7px 6px;
}
.add-truck-details tfoot td {
    padding: 7px 5px;
    background:#0074D2;
}
.add-truck-details tfoot button{
    background:white;
    padding:5px;
    float:right;
    margin-right:5px;
    color:#0074D2;
}

.remove-row img{
    vertical-align:middle;
    height:75%;
    padding:0 2px;
    text-align:center;
}


/* Search Pages*/

.custom-dp {
    margin-top:  3px;
    padding: 7px 15px;
    border: none;
    outline:none;
}
.location {
    width: 210px;
    float: left;
    margin: 5px 10px;
}
.location label{
    font-size: 13px;
}
.radio-group {
    width: 75px;
    height: 35px;
    float: left;
    margin:22px 10px 0 10px;
    color: white;
    font-size: 12px;
}
.radio-group  input {
    margin:2px;
}
.search-bar-input {
    width: 185px;
    outline: none;
    padding: 7px;
    border: none;
    margin-top: 3px;
}
.search-bar-drop {
    width: 190px;
    outline: none;
    padding:6px 7px;
    border: none;
    margin-top: 3px;
}
.search-bar {
    width: 1125px;
    background: rgba(0,0,0, 0.92);
    height: 70px;
    margin: 8px auto;
    padding: 5px 15px;
}
.shadow1 {
    z-index: -1;
    position: absolute;
    margin-left: 390px;
    margin-top: -32px;
}
.shadow2 {
    z-index: -1;
    position: absolute;
    margin-left: 230px;
    margin-top: -20px;
}
.results {
    width: 1139px;
    height: 450px;
    margin: 0px auto;
    margin-top:25px;
    padding: 8px;
}
.submit-search {
    width: 35px;
    height: 35px;
    outline: none;
    border: none;
    margin-top: 22px;
    background: rgb(0, 119, 232);
}
.submit-search img{
    height: 19px;
    margin-top: 3px;
}
.results-table {
    border-collapse:collapse;
    box-shadow:0 0 5px #121212;
}
.view-action {
    height: 15px;
    vertical-align: middle;
    padding: 0 5px;
}
.results-table  thead{
    background:#0077E8;
}
.results-table tr td{
    width:208px;
}
.results-table thead td{
    padding:12px;
}
.results-table tbody td{
    padding:9px 12px;
}
.results-table tbody{
    background: rgba(0,0,0, 0.92);
    overflow-y: scroll;
}
.results-table tfoot{
    background: rgba(0, 119, 232, 0.85);
    bottom:0;
}
.results-table tfoot td{
    padding:10px 0;
}
.results-table tfoot td a{
    color:white;
    padding:0 10px;
}
.results-table tfoot td a img{
    padding:0 5px;
}



.addload {
    background:rgb(7, 102, 192);
    z-index:100;
    width:400px;
    height:550px;;
    margin:1% auto;
}
.steps-list {
    width:360px;
    margin:3% auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height:370px;
}
.scroll-alignment{
    width: 280px;
    margin-left: 45px;
}
.page-name{
    padding-top: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}
.addload ul li{
    margin:10px auto;
}
.addload-head {
    width:280px;
    margin:5% auto;
    padding-top: 1%;
}
.addload-head h3 {
    text-align: center;
    color: white;
}

@media screen and (max-width:1280px) {
    body {
    width: 1280px;
    overflow:scroll;
    }
    .conatiner{
        width:1280px;
    }
    header {
        width:1280px;
    }
    }