<div class="add-truck-bg" id="addTrucksPage" ng-controller="addTrucksCtrl" ng-init="init()">
    <div class="add-truck-div">
        <div class="add-truck-head">
            <h4>ADD TRUCK</h4>
            <!-- label ng-click="cancel()">X</label -->
        </div>
        <div class="add-truck-body">
            <form name="addtruckform" novalidate>
                <table class="add-truck-details">
                    <thead>
                    <tr>
                        <td>Truck Type</td>
                        <td>Truck Make</td>
                        <td>Truck Model</td>
                        <td>Reg No.</td>
                        <td>Capacity</td>
                        <td style="width:95px; text-align:center;">Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="truck in addTruckModel.trucks track by $index">
                        <td data-title="'Truck Type'">
                            <select selectpicker id="truck_type{{$index}}" name="truck_type{{$index}}"
                                    ng-model="truck.details.type"  ng-required="true"
                                    ng-options="type for type in truckTypeList"
                                    class="add-truck-input"
                                    data-dropup-auto="false">
                                <option selected disabled value="">Choose one</option>
                            </select>
                            <div ng-if="truck.details.type==undefined || truck.details.type==null || truck.details.type==''"
                                 class="help-block pull-right"
                                 ng-class="{ 'line-error' : truck.details.type==undefined || truck.details.type==null || truck.details.type=='',
                                                'line-success' : !(truck.details.type==undefined || truck.details.type==null || truck.details.type==''),
                                                'line-feedback' : truck.details.type==undefined || truck.details.type==null || truck.details.type==''}"
                                 for="truck_type{{truck.index}}">Truck Type is mandatory
                            </div>
                            <div class="" ng-if="truck.details.type=='Others'">
                                <input type="text" class="add-truck-input" name="truckTypeDesc{{truck.index}}" id="truckTypeDesc{{truck.index}}"
                                       ng-model="truck.details.typeDescription"
                                       ng-minlength="1" ng-required="true" placeholder="Enter Other Type">
                                <div ng-if="truck.details.typeDescription==undefined || truck.details.typeDescription==null"
                                     class="help-block pull-right"
                                     ng-class="{ 'line-error' : truck.details.typeDescription==undefined || truck.details.typeDescription==null,
                                                'line-success' : !(truck.details.typeDescription==undefined || truck.details.typeDescription==null),
                                                'line-feedback' : truck.details.typeDescription==undefined || truck.details.typeDescription==null}"
                                     for="truckTypeDesc{{truck.index}}">Truck Type is mandatory
                                </div>
                            </div>
                        </td>
                        <td>
                            <select selectpicker id="truck_make{{$index}}" name="truck_make{{truck.index}}"
                                    ng-model="truck.details.make"  ng-required="true"
                                    ng-options="make for make in makeList"
                                    class="add-truck-input" data-dropup-auto="false">
                                <option selected disabled value="">Choose one</option>
                            </select>
                            <div ng-if="truck.details.make==undefined || truck.details.make==null || truck.details.make==''"
                                 class="help-block pull-right"
                                 ng-class="{ 'line-error' : truck.details.make==undefined || truck.details.make==null || truck.details.make=='',
                                                'line-success' : !(truck.details.make==undefined || truck.details.make==null || truck.details.make==''),
                                                'line-feedback' : truck.details.make==undefined || truck.details.make==null || truck.details.make==''}"
                                 for="truckTypeDesc{{truck.index}}">Truck Make is mandatory
                            </div>
                        </td>
                        <td><input class="add-truck-input" type="text" name="model{{truck.index}}" id="model{{truck.index}}"
                                   ng-model="truck.details.model" placeholder="Enter Model"
                                   ng-minlength="1" maxlength="35" ng-required="true">
                            <div ng-if="truck.details.model==undefined || truck.details.model == null || truck.details.model == ''"
                                 class="help-block pull-right"
                                 ng-class="{ 'line-error' : truck.details.model==undefined || truck.details.model == null || truck.details.model == '',
                                                'line-success' : !(truck.details.model==undefined || truck.details.model == null || truck.details.model == ''),
                                                'line-feedback' : truck.details.model==undefined || truck.details.model == null || truck.details.model == ''}"
                                 for="model{{truck.index}}">Model is mandatory
                            </div></td>
                        <td><input type="text" class="add-truck-input" name="regno{{truck.index}}" id="regno{{truck.index}}"
                                   ng-model="truck.details.regno"
                                   placeholder="Enter Reg No"
                                   capitalize-no-blanks maxlength="10" ng-required="true">
                            <div ng-if="truck.details.regno==undefined || truck.details.regno == null || truck.details.regno == '' || truck.details.regno.length < 7"
                                 class="help-block pull-right"
                                 ng-class="{ 'line-error' : truck.details.regno==undefined || truck.details.regno == null || truck.details.regno == '' || truck.details.regno.length < 7,
                                                'line-success' : !(truck.details.regno==undefined || truck.details.regno == null || truck.details.regno == '' || truck.details.regno.length < 7),
                                                'line-feedback' : truck.details.regno==undefined || truck.details.regno == null || truck.details.regno == '' || truck.details.regno.length < 7}"
                                 for="regno{{truck.index}}">Reg No. is mandatory.
                            </div>
                        </td>
                        <td><input class="add-truck-input" type="text" numbers-only class="form-control" name="load{{truck.index}}" id="load{{truck.index}}"
                                   ng-model="truck.details.load"
                                   maxlength="2"
                                   placeholder="Enter Load in Tons" ng-minlength="1" ng-maxlength="2" ng-required="true">
                            <div ng-if="truck.details.load==undefined || truck.details.load == null || truck.details.load == ''"
                                 class="help-block pull-right"
                                 ng-class="{ 'line-error' : truck.details.load==undefined || truck.details.load == null || truck.details.load == '',
                                                'line-success' : !(truck.details.load==undefined || truck.details.load == null || truck.details.load == ''),
                                                'line-feedback' : truck.details.load==undefined || truck.details.load == null || truck.details.load == ''}"
                                 for="load{{truck.index}}">Capacity is mandatory
                            </div>
                        </td>
                        <td style="width:95px; text-align:center;">
                            <!-- p ng-show="checkErrors(truck)" class="text-danger" ng-if="closeOut && !truck.haveMessage">Clear Errors</p -->
                            <p ng-class="{'line-success':hasError, 'line-error':!hasError}" ng-if="closeOut">{{truck.message}}</p>
                            <button ng-click="removeTruck($index)" class="remove-row" ng-if="!closeOut"><img src="images/delete.png" alt="" />Remove</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <label style="color:white; padding-left: 10px; font-size: 13px;" ng-show="addtruckform.$invalid">
                                *  Please correct the errors to submit the trucks
                            </label>
                        </td>
                        <td>
                            <button ng-click="goToHome()" class="add-row" ng-if="closeOut">View Your Trucks</button>
                        </td>
                        <td></td>
                        <td>
                            <button ng-click="addTruckRow()" class="add-row" ng-if="!closeOut||stopAdd">Add row</button>
                        </td>
                        <td colspan="2">
                            <button ng-disabled="disableSubmit(addTruckModel.trucks)" ng-if="!closeOut&&addTruckModel.trucks.length>0" ng-click="addTrucks(addTruckModel.trucks)" type="submit">Submit</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="add_trucks.js"></script>