<!--
Designed by Pal
-->
<!DOCTYPE HTML>
    <!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
    <!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]-->
    <!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]-->
    <!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]-->
    <!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Loadx alpha in progress...</title>
        <meta name="description" content="Loadx alpha in progress...">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold">
        <link rel="stylesheet" type="text/css" href="TransEarth/css/master.css">
    </head>

    <body id="home">
        <div id="Header">
            <div class="wrapper">
                <h1><img src="TransEarth/images/logo123.png" alt="loadx" /></h1>
            </div>
        </div>
        <div id="Content" class="wrapper">
            <h4 class="intro" style="text-align:center;  font-style: italic;">alpha in progress... </h4>
            <h4 class="intro" style="text-align:center; margin-top:-20px;  font-style: italic;">Please Call: <span style="color:#ffaa00; font-weight:bold;">044-45110115</span> to be a part of it.</h4>

            <div class="countdown styled" style="margin-top:125px;"></div>

            <!-- commented <div id="subscribe">
                <form action="" method="post" onsubmit="">
                    <p><input name="" value="Enter your e-mail" type="text" id=""/>
                    <input type="button" value="Submit"/></p>
                </form>
                <div id="socialIcons">
                    <ul>
                        <li><a href="" title="Twitter" class="twitterIcon"></a></li>
                        <li><a href="" title="facebook" class="facebookIcon"></a></li>
                        <li><a href="" title="linkedIn" class="linkedInIcon"></a></li>
                        <li><a href="" title="Pintrest" class="pintrestIcon"></a></li>
                    </ul>
                </div>
            </div> -->
            <!-- <span class="tempBy"><h4>Please Call: 1-809-200-0000</h4></span> -->
            <!-- <span class="tempBy">Please Call: <a href="http://amtexsystems.com" alt="amtex systems">Amtex Systems</a></span> -->
        </div>

        <div id="overlay"></div>

        <!--Scripts-->
        <script type="text/javascript" src="TransEarth/scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="TransEarth/scripts/fullscreenbg.js"></script>
        <script type="text/javascript" src="TransEarth/scripts/jquery.countdown.js"></script>
        <script type="text/javascript" src="TransEarth/scripts/master.js"></script>

    </body>
</html>
