<!--
Designed by Pal
-->
<!DOCTYPE HTML>
    <!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
    <!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]-->
    <!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]-->
    <!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]-->
    <!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Loadx alpha in progress...</title>
        <meta name="description" content="Loadx alpha in progress...">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold">
        <link rel="stylesheet" type="text/css" href="TransEarth/css/master.css">
    </head>

    <body id="home" ng-app="countApp" ng-controller="countController">
        <div class="backstretch"
             style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 900px; width: 1280px; z-index: -999999; position: fixed;">
            <img src="TransEarth/images/city_dark.jpg"
                 style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1280px; height: 100%; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -253.154295246038px;">
        </div>
        <div id="Header">
            <div class="wrapper">
                <h1><img src="TransEarth/images/logo123.png" alt="loadx" /></h1>
            </div>
        </div>
        <div id="Content" class="wrapper">
            <h4 class="intro" style="text-align:center;  font-style: italic;">alpha in progress... </h4>
            <h4 class="intro" style="text-align:center; margin-top:-20px;  font-style: italic;">Please Call: <span style="color:#ffaa00; font-weight:bold;">044-45110115</span> to be a part of it.</h4>
            <div ng-if="fetched" class="countdown styled" style="margin-top:125px;">
                <div> {{trips}} <span>Trips Completed</span></div>
                <div> {{kms}} <span>KM Travelled</span></div>
                <div> {{tons}} <span>Tons Moved</span></div>
            </div>
        </div>

        <div id="overlay"></div>

        <!--Scripts-->
        <script type="text/javascript" src="TransEarth/scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="TransEarth/scripts/fullscreenbg.js"></script>
        <script type="text/javascript" src="TransEarth/scripts/jquery.countdown.js"></script>
        <!-- script type="text/javascript" src="TransEarth/scripts/master.js"></script -->
        <script type="text/javascript" src="TransEarth/angular/angular.min.js"></script>
        <script type="text/javascript" src="TransEarth/scripts/alert.js"></script>
        <script language="JavaScript">

            var countApp = angular.module('countApp',[]);

            function countController($scope, $window, $http) {
                //console.log('Count Controller');
                $scope.trips = 0;
                $scope.kms = 0;
                $scope.tons = 0;
                $scope.fetched = false;

                $scope.countsFetch = function(){
                    console.log('Fetch Counts');
                    $http.get("/TransEarth/getCounts")
                            .success(function(data) {
                                if(typeof data != 'undefined' && data != null){
                                    //console.log(JSON.stringify(data));
                                    $scope.fetched = true;
                                    $scope.trips = data[0].tripsCompleted;
                                    $scope.kms = data[0].kmsTravelled;
                                    $scope.tons = data[0].tonsMoved;
                                    //console.log($scope.trips+" "+$scope.kms+" "+$scope.tons);
                                    setTimeout($scope.countsFetch(), 10000);
                                }
                            }).error(function(data) {
                                $scope.trips = 1276;
                                $scope.kms = 40346;
                                $scope.tons = 233625;
                                succesError(data.statusMsg, 'countManageMessage');
                            });
                };
                $scope.countsFetch();
            }

        </script>

    </body>
</html>
