<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="TransEarthApp">
<<<<<<< HEAD
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <![endif]>
=======
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
		<![endif]>
>>>>>>> origin/master
		<title>LoadX</title>
		<!-- BOOTSTRAP CORE STYLE  -->

    <!--- link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" / -->

    <link href="css/style.css" rel="stylesheet" />
    <link href="css/date.css" rel="stylesheet" />

    <!-- FONT AWESOME ICONS  -->


<<<<<<< HEAD
    <!-- CUSTOM STYLE  -->
    <link href="angular/css/ng-grid.css" rel="stylesheet" type="text/css" />
    <link href="css/transEarthStyle.css" rel="stylesheet" />
    <link href="angular/css/ng-animation.css" rel="stylesheet" />
    <!-- Google Places API -->
    <!-- script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="maps.js"></script -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie8Styles.css"/>
    <![endif]-->
    <script src="scripts/respond.min.js"></script>
    <!--[if lte IE 8]>
    <script>
        document.createElement('footer');
    </script>
    <![endif]-->

</head>
<body ng-controller="coreController" ng-init="local='<%= JSON.stringify(session)%>'" class=" pace-done">
<header>
    <a href="../"><img id="logo" src="images/logo.png" alt=""></a>
    <button class="menu-btn">
        <p class="menu-icon">Menu<img src="images/menu-icon.png" alt=""></p>
    </button>
    <ul class="navmenu">
        <li ng-if="core.loggedIn" class="username-place">
            <a href="#"> {{user.display_name}}</a>
            <ul class="dropdown-menu">
                <li><a href="/TransEarth/logout">Logout</a></li>
            </ul>
        </li>
        <li ng-if="!core.loggedIn">
            <a href="#" ng-click="loginClicked()">
                {{core.pageHeaders.login}}
            </a>
        </li>
        <li>
            <a href="#" ng-click="searchLoad()">Search Load</a>
        </li>
        <li>
            <a href="#" ng-click="searchTrucks()">Search Truck</a>
        </li>
        <li ng-if="core.load_owner||core.agent||core.contractor">
            <a href="#" ng-click="addLoad()">{{core.pageHeaders.addLoad}}</a>
        </li>
        <li ng-if="core.truck_owner||core.agent||core.contractor">
            <a href="#" ng-click="gotoAddTrucksPage()">{{core.pageHeaders.addTruck}}</a>
        </li>
        <li ng-if="core.load_owner||core.agent||core.contractor">
            <a href="#" ng-click="loadMyLoads()">{{core.pageHeaders.myLoads}}</a>
        </li>
        <li ng-if="core.truck_owner||core.agent||core.contractor">
            <a href="#" ng-click="loadMyTrucks()">{{core.pageHeaders.myTrucks}}</a>
        </li>
        <li class="menu-align">
            <a href="#" ng-click="siteHome()">{{core.pageHeaders.home}}</a>
        </li>
    </ul>
</header>
<div class="container">
    <!-- div id="session_alert" ng-if="ifSessionInvalid==true">Session Not Valid. Please login again</div -->
    <!-- div class="slide-animate-container">
        <div class="slide-animate" ng-include src="page.template"></div>
    </div -->
    <div class="toggle" ng-include src="page.template"></div>
</div>

<!-- Moment Date formatter -->
<script src="scripts/moment.min.js"></script>

<!-- script src="assets/js/jquery-1.11.1.js"></script -->
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery-ui-1.10.1.custom.min.js"></script>
<!-- script src="scripts/jquery-1.10.2.js"></script>
<script src="scripts/jquery-ui.js"></script -->
<!-- Angular -->
<script src="angular/angular.min.js"></script>
<script src="angular/angular-route.min.js"></script>
<script src="angular/angular-animate.min.js"></script>
<script src="angular/angular-ui-date.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<!-- Angular Addon -->
<script src="angular/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="angular/nya-bootstrap-select.js"></script>
<!-- Load Date & Time picker plugins -->
<!-- script src="angular/angular-daterangepicker.js"></script -->
<!-- Load Angular ng-grid -->
<script src="angular/ng-grid.debug.js"></script>
<!-- Load Angular ng-table -->
<script src="angular/ng-table.js"></script>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
<!-- Application specific scripts -->
<script src="util.js"></script>
<script src="scripts/alert.js"></script>
<script src="core.js"></script>
<script src="master.js"></script>
<script type="text/ng-template" id="custom-datepicker.html">
    <div class="textbox"><input type="text" ui-date-format="yy-mm-dd" ng-model="ngModel" ui-date="dateOptions"/></div>
</script>
</body>
</html>
=======
		<!-- CUSTOM STYLE  -->
		<link href="angular/css/ng-grid.css" rel="stylesheet" type="text/css" />
		<link href="css/transEarthStyle.css" rel="stylesheet" />
		<link href="angular/css/ng-animation.css" rel="stylesheet" />
		<!-- Google Places API -->
		<!-- script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="maps.js"></script -->
		<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8Styles.css"/>
		<![endif]-->
		<script src="scripts/respond.min.js"></script>
		<!--[if lte IE 8]>
		<script>
			document.createElement('footer');
		</script>
		<![endif]-->

	</head>
	<body ng-controller="coreController" ng-init="local='<%= JSON.stringify(session)%>'" class=" pace-done">
		<header>
			<a href="../"><img id="logo" src="images/logo.png" alt=""></a>
			<button class="menu-btn">
				<p class="menu-icon">Menu<img src="images/menu-icon.png" alt=""></p>
			</button>
			<ul class="navmenu">
                <li ng-if="core.loggedIn" class="username-place">
                    <a href="#"> {{user.display_name}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/TransEarth/logout">Logout</a></li>
                    </ul>
                </li>
                <li ng-if="!core.loggedIn">
                    <a href="#" ng-click="loginClicked()">
                            {{core.pageHeaders.login}}
                    </a>
                </li>
                <li>
					<a href="#" ng-click="searchLoad()">Search Load</a>
				</li>
                <li>
					<a href="#" ng-click="searchTrucks()">Search Truck</a>
				</li>
                <li ng-if="core.load_owner||core.agent||core.contractor">
					<a href="#" ng-click="addLoad()">{{core.pageHeaders.addLoad}}</a>
				</li>
                <li ng-if="core.truck_owner||core.agent||core.contractor">
					<a href="#" ng-click="gotoAddTrucksPage()">{{core.pageHeaders.addTruck}}</a>
				</li>
                <li ng-if="core.load_owner||core.agent||core.contractor">
					<a href="#" ng-click="loadMyLoads()">{{core.pageHeaders.myLoads}}</a>
				</li>
                <li ng-if="core.truck_owner||core.agent||core.contractor">
					<a href="#" ng-click="loadMyTrucks()">{{core.pageHeaders.myTrucks}}</a>
				</li>
                <li class="menu-align">
					<a href="#" ng-click="siteHome()">{{core.pageHeaders.home}}</a>
				</li>
			</ul>
		</header>
		<div class="container">
			<!-- div id="session_alert" ng-if="ifSessionInvalid==true">Session Not Valid. Please login again</div -->
			<!-- div class="slide-animate-container">
				<div class="slide-animate" ng-include src="page.template"></div>
			</div -->
			<div class="toggle" ng-include src="page.template"></div>
		</div>

		<!-- Moment Date formatter -->
		<script src="scripts/moment.min.js"></script>

		<!-- script src="assets/js/jquery-1.11.1.js"></script -->
		<script src="scripts/jquery-1.9.1.min.js"></script>
		<script src="scripts/jquery-ui-1.10.1.custom.min.js"></script>
		<!-- script src="scripts/jquery-1.10.2.js"></script>
        <script src="scripts/jquery-ui.js"></script -->
		<!-- Angular -->
		<script src="angular/angular.min.js"></script>
		<script src="angular/angular-route.min.js"></script>
		<script src="angular/angular-animate.min.js"></script>
		<script src="angular/angular-ui-date.js"></script>
		<!-- BOOTSTRAP SCRIPTS  -->
		<!-- Angular Addon -->
		<script src="angular/ui-bootstrap-tpls-0.10.0.js"></script>
		<script src="angular/nya-bootstrap-select.js"></script>
        <!-- Load Date & Time picker plugins -->
        <!-- script src="angular/angular-daterangepicker.js"></script -->
		<!-- Load Angular ng-grid -->
		<script src="angular/ng-grid.debug.js"></script>
		<!-- Load Angular ng-table -->
		<script src="angular/ng-table.js"></script>
		<!-- Google Maps API -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
		<!-- Application specific scripts -->
		<script src="util.js"></script>
		<script src="scripts/alert.js"></script>
		<script src="core.js"></script>
		<script src="master.js"></script>
        <script type="text/ng-template" id="custom-datepicker.html">
			<div class="textbox"><input type="text" ui-date-format="yy-mm-dd" ng-model="ngModel" ui-date="dateOptions"/></div>
        </script>
	</body>
</html>
>>>>>>> origin/master
