<div id="load_owner" ng-controller="loadOwnerCtrl">
    <form id="myLoadForm" name="myLoadForm" role="form">
        <div class="load-search">
        <input type="textbox" class="" name="myloadsearch"
               ng-model="myLoadList.myLoads_filter"
               value="" placeholder="Search" /></div>
        <div class="results">
            <div ng-show="myLoadList.messageAvailable">
                <div id="myLoadList_alert"></div>
            </div>
            <table class="results-table" ng-if="myLoadList.listShow">
                <thead>
                <tr>
                    <td>
                        From
                    </td>
                    <td>
                        To
                    </td>
                    <td>
                        Load
                    </td>
                    <td>
                        Material
                    </td>
                    <td>
                        Pickup Date
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="myLoadList.list" ng-repeat="load in myLoadList.list  | filter:myLoadList.myLoads_filter">
                    <td>
                        {{load.source}}
                    </td>
                    <td>
                        {{load.destination}}
                    </td>
                    <td>
                        {{load.load}}
                    </td>
                    <td>
                        {{load.materialType}}
                    </td>
                    <td>
                        {{load.pickupDate}}
                    </td>
                    <td>
                        <img src="images/view.png" class="view-action" alt="" />View
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td colspan="3">
                        <a href="#"
                           ng-disabled="myLoadList.pagingOptions.currentPage==1||myLoadList.totalServerItems<truckPostList.pagingOptions.pageSize"
                           ng-click="getPagedDataAsync(myLoadList.pagingOptions.pageSize, 1)">First Page<img src="images/first.png" alt="" /></a>
                        <a href="#"
                           ng-disabled="myLoadList.pagingOptions.currentPage==1"
                           ng-click="getPagedDataAsync(truckPostList.pagingOptions.pageSize, myLoadList.pagingOptions.currentPage - 1)">Previous<img src="images/back.png" alt="" /></a>
                        {{myLoadList.totalServerItems}}
                        <a href="#"
                           ng-disabled="myLoadList.pagingOptions.currentPage==myLoadList.pagingOptions.lastPage"
                           ng-click="getPagedDataAsync(myLoadList.pagingOptions.pageSize, myLoadList.pagingOptions.currentPage + 1)"><img src="images/nextp.png" alt="" />Next</a>
                        <a href="#"
                           ng-disabled="myLoadList.pagingOptions.currentPage==myLoadList.pagingOptions.lastPage"
                           ng-click="getPagedDataAsync(myLoadList.pagingOptions.pageSize, myLoadList.pagingOptions.lastPage - 1)"><img src="images/last.png" alt="" />Last Page</a>
                    </td>
                    <!-- td colspan="3">
                        <a href="#">First Page<img src="images/first.png" alt="" /></a>
                        <a href="#">Previous<img src="images/back.png" alt="" /></a>5
                        <a href="#"><img src="images/nextp.png" alt="" />Next</a>
                        <a href="#"><img src="images/last.png" alt="" />Last Page</a>
                    </td -->
                </tr>
                </tfoot>
            </table>
        </div>
        <img class="shadow2" src="images/shadow2.png" alt="" />
    </form>
</div>
<!-- Remove Load Confirmation Modal -->
<script type="text/ng-template" id="myLoadRemoveModal.html">
    <!-- div ng-controller="TruckLoadModalCtrl" -->
    <div class="modal-header">
        <h3 class="modal-title">Remove Load Confirmation</h3>
    </div>
    <div class="modal-body">
        <div id="remove_load_alert"></div>
        <form name="removeLoadForm" id="removeLoadForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">Do you want to remove this load?</div>
                    <div class="col-md-12 col-md-offset-1">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Material</th>
                                <th>Load</th>
                                <th>Pickup Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{loadToInactivate.source}}</td>
                                <td>{{loadToInactivate.destination}}</td>
                                <td>{{loadToInactivate.material}}</td>
                                <td>{{loadToInactivate.load}}</td>
                                <td>{{loadToInactivate.pickupDate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button type="button" ng-if="!showClose" class="btn btn-danger" ng-click="inActivateLoad(loadToInactivate)">Yes</button>
            <button type="button" ng-if="!showClose" class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
        </form>
    </div>
    <div class="modal-footer" ng-if="showClose">
        <!-- button type="button" class="btn btn-danger">Yes</button -->
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
    <!-- /div -->
</script>
<script src="load_owner.js"></script>