<div ng-controller="loginCtrl">
    <div id="indexTruckListMessage" ng-show="!login.messageAvailable">
        <div id="login_alert" >{{login.message}}</div>
    </div>
    <div class="loginpanel">
    <form method="post" name="loginForm" action="/TransEarth/login">
        <ul>
            <li><img id="panel-logo" style="margin-left:15px; margin-bottom: 20px; margin-top: 15px;" src="images/logo1.png" alt="" /></li>

            <li>
                <input class="textbox" type="text" name="username" ng-class="{ 'has-error' : loginForm.username.$error.required}" ng-model="user.username" placeholder="Enter Email/User Name" ng-required="true" />
                <span class="text-danger" ng-show="loginForm.username.$error.required">Username required</span>
            </li>
            <li>
                <input class="textbox" type="password" id="password" ng-class="{ 'has-error' : loginForm.username.$error.required}" name="password" ng-model="user.password" placeholder="Enter Password" ng-required="true" />
                <span class="text-danger" ng-show="loginForm.password.$error.required">Password required</span>
            </li>
            <li><button style="background:#006FD7; margin-left:95px;" class="buttons" type="submit" name="login"> Login </button></li>
            <li><a style=" float:left;" href="#">Forgot Password ?</a><a class="signupdiv" style=" float:right;" href="#"  ng-click="signUp()">Sign up</a></li>

        </ul>
    </form>
</div>
    </div>
<script src="login.js"></script>