<div id="truckPostManagePage" ng-controller="truckPostManageCtrl">
	<!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
	<div id="truckManagePanel" class="add-post">
		<label class="close-label">Close</label><h3>Add Post</h3>
		<form name="truckPostForm" name="truckPostForm" ng-submit="submitForm()" novalidate>
			<ul>
				<li style="float:left;">Reg No<label>  -</label></li><li style="float:left; width:130px;">{{truckToPost.details.reg_no}}</li>
				<li style="float:left;">Type<label>  -</label></li><li style="float:left; width:130px;">{{truckToPost.details.type}}</li>
				<li style="float:left;">Make<label>  -</label></li><li style="float:left; width:130px;">{{truckToPost.details.make}}</li>
				<li style="float:left;">Model<label>  -</label></li><li style="float:left; width:130px;">{{truckToPost.details.model}}</li>
				<li style="float:left;  padding-bottom: 15px;">Capacity<label>  -</label></li><li style="float:left;  width:130px;">{{truckToPost.details.load}}</li></br>
				<li style="padding-top:5px;">
					<select id="post_frequency" name="post_frequency"
							ng-model="truckToPost.post.schedule.frequency"
							ng-options="freq for freq in frequency"
							ng-required="true"
							ng-change="trackDays()"
							class="textbox">
					</select>
				</li>
				<div ng-if="showLocations">
					<li>
						<google-places required
									   tagId="source" tagName="source"
									   location=truckToPost.post.source></google-places>
					</li>
					<li>
						<google-places required
									   tagId="destination" tagName="destination"
									   location=truckToPost.post.destination></google-places>
					</li>
					<li>
						<input numbers-only type="text" class="textbox" name="weight" id="weight"
							   ng-model="truckToPost.post.load" placeholder="Enter Load in Tons"
							   ng-minlength="1" ng-maxlength="2"
							   maxlength="2" ng-required="true">
					</li>
					<li ng-if="truckToPost.post.schedule.frequency!=undefined&&truckToPost.post.schedule.frequency!=null&&truckToPost.post.schedule.frequency=='One Time'">
						<input class="textbox" type="date" placeholder="Available Pickup Date"
							   id="pickup_date" name="pickup_date"
							   ng-model="truckToPost.post.pickup.date"
							   ng-required="true" required/>
					</li>
					<li ng-if="truckToPost.post.schedule.frequency!=undefined&&truckToPost.post.schedule.frequency!=null&&truckToPost.post.schedule.frequency!='One Time'">
						<input class="textbox" type="date" placeholder="Start Date"
							   id="pickup_start_date" name="pickup_start_date"
							   ng-model="truckToPost.post.pickup.startDate"
							   ng-required="true" required/>
					</li>
					<li ng-if="truckToPost.post.schedule.frequency!=undefined&&truckToPost.post.schedule.frequency!=null&&truckToPost.post.schedule.frequency!='One Time'">
						<input class="textbox" type="date" placeholder="Start Date"
							   id="pickup_end_date" name="pickup_end_date"
							   ng-model="truckToPost.post.pickup.endDate"
							   ng-required="true" required/>
					</li>
					<li>
						<input type="submit" style="background:#242424; color:white;" class="buttons" name="Post" />
						&nbsp;
						<input ng-click="cancelPost()" style="background:#242424; color:white;" class="buttons" name="Post" />
					</li>
				</div>
			</ul>
		</form>
	</div>
</div>
<script src="manage_post.js"></script>