<div id="truckPostManagePage" ng-controller="truckPostManageCtrl">
    <!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
    <div id="truckManagePanel" class="add-post">
        <label class="close-label" ng-click="cancelPost()">Close</label><h4>{{truckOwnerPage.managePostTitle}}</h4>
        <form name="truckPostForm" ng-submit="submitForm()" novalidate>
            <ul style="overflow-y: hidden;">
                <li style="font-weight:bold; color:#F9FF02;">{{truckToPost.details.reg_no}}</li>
                <!--<li style="float:left; width:130px;">{{truckToPost.details.make}}</li>
                <li style="float:left; width:130px;">{{truckToPost.details.model}}</li> -->
                <li style="float:left;  width:130px;">{{truckToPost.details.load}}</li>
                <li style="float:left; width:130px;">{{truckToPost.details.type}}</li>
            </ul>
            <ul style="height: 305px;">
                <li style="padding-top:10px;">
                    <label for="post_frequency">Post Frequency</label>
                    <select id="post_frequency" name="post_frequency"
                            ng-model="truckToPost.post.schedule.frequency"
                            ng-options="freq for freq in frequency"
                            ng-required="true"
                            ng-change="trackDays()"
                            ng-class="{ 'has-error' : truckPostForm.post_frequency.$invalid,
										'has-success' : !(truckPostForm.post_frequency.$invalid),
										'has-feedback' : truckPostForm.post_frequency.$invalid}"
                            class="dropdown">
                        <option value="" default disabled>Choose one</option>
                    </select>
                </li>

                <div ng-if="showLocations">
                    <li>
                        <label for="source">Source</label>
                        <google-places required
                                       tagId="source" tagName="source"
                                       location=truckToPost.post.source></google-places>

                    </li>
                    <li>
                        <label for="destination">Destination</label>
                        <google-places required
                                       tagId="destination" tagName="destination"
                                       location=truckToPost.post.destination></google-places>
                    </li>
                    <li>
                        <label for="weight">Available Tons</label>
                        <input class="textbox" numbers-only type="text" name="weight" id="weight"
                               ng-model="truckToPost.post.load" placeholder="Enter Load in Tons"
                               ng-minlength="1" ng-maxlength="2"
                               maxlength="2" ng-required="true"
                               ng-class="{ 'has-error' : truckPostForm.weight.$invalid,
										'has-success' : !(truckPostForm.weight.$invalid),
										'has-feedback' : truckPostForm.weight.$invalid}">
                    </li>
                    <li ng-if="truckToPost.post.schedule.frequency!=undefined&&truckToPost.post.schedule.frequency!=null&&truckToPost.post.schedule.frequency=='One Time'">
                        <label for="pickup_date">Available Date</label>
                        <!-- input type="text" custom-datepicker  placeholder="Available Pickup Date" name="pickup_date"
                                   ng-model="truckToPost.post.pickup.date"
                                   ng-required="true" date-options="dateOptions" required
                                    ng-class="{ 'has-error' : truckPostForm.pickup_date.$invalid,
                                            'has-success' : !(truckPostForm.pickup_date.$invalid),
                                            'has-feedback' : truckPostForm.pickup_date.$invalid}" -->
                        <input class="textbox" type="text" ng-required="true" placeholder="Available Pickup Date" name="pickup_date"
                               ui-date-format ng-model="truckToPost.post.pickup.endDate" ui-date="pickup.dateRangeOptions"
                               ng-class="{ 'has-error' : truckPostForm.pickup_date.$invalid,
										'has-success' : !(truckPostForm.pickup_date.$invalid),
										'has-feedback' : truckPostForm.pickup_date.$invalid}"/>
                    </li>
                    <li ng-if="truckToPost.post.schedule.frequency!=undefined&&truckToPost.post.schedule.frequency!=null&&truckToPost.post.schedule.frequency!='One Time'">
                        <label for="pickup_start_date">Start date</label>
                        <input class="textbox" type="text" ng-required="true" placeholder="Pickup Start Date" name="pickup_start_date"
                               ui-date-format ng-model="truckToPost.post.pickup.startDate" ui-date="pickup.startDateOptions"
                               ng-change="clearEndDate()"
                               ng-class="{ 'has-error' : truckPostForm.pickup_start_date.$invalid,
										'has-success' : !(truckPostForm.pickup_start_date.$invalid),
										'has-feedback' : truckPostForm.pickup_start_date.$invalid}"/>
                    </li>
                    <li ng-if="truckToPost.post.schedule.frequency!=undefined&&truckToPost.post.schedule.frequency!=null&&truckToPost.post.schedule.frequency!='One Time'">
                        <label for="pickup_end_date">End Date</label>
                        <input class="textbox" type="text" ng-required="true" placeholder="Pickup End Date" name="pickup_end_date"
                               ui-date-format ng-model="truckToPost.post.pickup.endDate" ui-date="pickup.endDateOptions"
                               ng-if="truckToPost.post.pickup.startDate!=undefined&&truckToPost.post.pickup.startDate!=null"
                               ng-class="{ 'has-error' : truckPostForm.pickup_end_date.$invalid,
										'has-success' : !(truckPostForm.pickup_end_date.$invalid),
										'has-feedback' : truckPostForm.pickup_end_date.$invalid}"/>
                    </li>
                    <li>
                        <input type="submit" style="background:#242424; color:white;" class="buttons" name="Post" Value="Post" />
                        &nbsp;
                        <input type="button" ng-click="cancelPost()" style="background:#242424; color:white;" class="buttons" value="Cancel" name="Cancel" />
                    </li>
                </div>
            </ul>
        </form>
    </div>
</div>
<script src="manage_post.js"></script>
<!-- script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script -->