<div ng-controller="truckListCtrl" ng-init="init()">
    <form id="searchTruckForm" name="searchTruckForm" role="form">
		<div class="search-bar">
			<div class="location">
				<label>From</label>
				<!-- input class="search-bar-input" location=truckPostList.filter.from id="from_city"
					   type="text" placeholder="From Location" name="from_city"/ -->
				<google-places className="search-bar-input" holder="From Location"
							   tagId="from_city" tagName="from_city"
							   location=truckPostList.filter.from></google-places>
			</div>
			<div class="location">
				<label>To</label>
				<!-- input class="search-bar-input" type="text" id="to_city" name="to_city" glyph="false"
					   location=truckPostList.filter.to placeholder="To Location"/ -->
				<google-places className="search-bar-input" holder="To Location"
							   tagId="to_city" tagName="to_city"
							   location=truckPostList.filter.to></google-places>
			</div>
			<div class="location">
				<label>Truck Type</label>
				<select selectpicker id="truck_type" name="truck_type"
						ng-model="truckPostList.filter.type"
						ng-options="type for type in truckTypeList"
						class="search-bar-input" data-dropup-auto="false">
					<option value="">Choose one</option>
				</select>
			</div>
			<div class="location">
				<label>Date</label>
				<input class="custom-dp" type="text" ng-required="true" placeholder="Available Date" name="daterange"
					   ui-date-format="yy-mm-dd" ng-model="truckPostList.filter.dt" ui-date="truckPostList.filter.dateRangeOptions"
					   ng-class="{ 'has-error' : searchTruckForm.daterange.$invalid,
										'has-success' : !(searchTruckForm.daterange.$invalid),
										'has-feedback' : searchTruckForm.daterange.$invalid}"/>
			</div>
			<div class="radio-group">
				<input type="radio" ng-change="resetSearchCategory()"x
					   ng-model="truckPostList.filter.dateRange"
					   name="optionsRadios" id="optionsRadios1" value=1>
				<label for="date-option">ON</label></br>
				<input type="radio" ng-change="resetSearchCategory()"
					   ng-model="truckPostList.filter.dateRange"
					   name="optionsRadios" id="optionsRadios2" value=2 selected>
				<label for="date-option">AFTER</label>
			</div>
			<button class="submit-search" ng-click="searchTrucks()" id="search"><img src="images/search-btn-white.png" alt="" /></button>
		</div>
		<img class="shadow1" src="images/shadow1.png" alt="" />
		<div class="results">
			<div ng-show="truckPostList.messageAvailable">
				<div id="trucklist_alert"></div>
			</div>
			<table class="results-table" ng-if="truckPostList.listShow">
				<thead>
				<tr>
					<td>
						From
					</td>
					<td>
						To
					</td>
					<td>
						Capacity
					</td>
					<td>
						Available From
					</td>
					<td>
						Action
					</td>
				</tr>
				</thead>
				<tbody>
				<tr ng-show="truckPostList.list" ng-repeat="post in truckPostList.list">
					<td>
						{{post.source}}
					</td>
					<td>
						{{post.destination}}
					</td>
					<td>
						{{post.capacity}}
					</td>
					<td>
						{{post.availableDate}}
					</td>
					<td>
						<button style="background:none; color:white;" ng-click="getTruckPostDetailById(post.truck_id, post.post_id)"><img src="images/view.png" class="view-action" alt=""/>View</button>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td>
						Total Posts: {{truckPostList.totalServerItems}}
					</td>
					<td>
					</td>
					<td>
					</td>
					<td colspan="2">
						<a href="#"
						   ng-if="!(truckPostList.pagingOptions.currentPage==1||truckPostList.totalServerItems<truckPostList.pagingOptions.pageSize)"
						   ng-click="getPagedDataAsync(truckPostList.pagingOptions.pageSize, 1)">First Page<img src="images/first.png" alt="" /></a>
						<a href="#"
						   ng-if="!(truckPostList.pagingOptions.currentPage==1)"
						   ng-click="getPagedDataAsync(truckPostList.pagingOptions.pageSize, truckPostList.pagingOptions.currentPage - 1)">Previous<img src="images/back.png" alt="" /></a>
						<a href="#"
						   ng-if="!(truckPostList.pagingOptions.currentPage==truckPostList.pagingOptions.lastPage)"
						   ng-click="getPagedDataAsync(truckPostList.pagingOptions.pageSize, truckPostList.pagingOptions.currentPage + 1)"><img src="images/nextp.png" alt="" />Next</a>
						<a href="#"
						   ng-if="!(truckPostList.pagingOptions.currentPage==truckPostList.pagingOptions.lastPage)"
						   ng-click="getPagedDataAsync(truckPostList.pagingOptions.pageSize, truckPostList.pagingOptions.lastPage)"><img src="images/last.png" alt="" />Last Page</a>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
		<img class="shadow2" src="images/shadow2.png" alt="" />
	</form>
</div>

<script src="truck.js"></script>