<div ng-controller="loadListCtrl" ng-init="init()">
	<form id="searchLoadForm" name="searchLoadForm" role="form">
		<div class="search-bar">
			<div class="location">
				<label>From</label>
				<google-places className="search-bar-input" holder="From Location"
							   tagId="from_city" tagName="from_city"
							   location=loadPostList.filter.from></google-places>
			</div>
			<div class="location">
				<label>To</label>
				<google-places className="search-bar-input" holder="To Location"
							   tagId="to_city" tagName="to_city"
							   location=loadPostList.filter.to></google-places>
			</div>
			<div class="location">
				<label>Material</label>
				<select selectpicker id="material" name="material"
						ng-model="loadPostList.filter.material"
						ng-options="material for material in materialList"
						class="search-bar-input" data-dropup-auto="false">
					<option value="">Choose one</option>
				</select>
			</div>
			<div class="location">
				<label>Date</label>
				<input class="custom-dp" type="text" ng-required="true" placeholder="Available Date" name="daterange"
					   ui-date-format="yy-mm-dd" ng-model="loadPostList.filter.dt" ui-date="loadPostList.filter.dateRangeOptions"
					   ng-class="{ 'has-error' : searchLoadForm.daterange.$invalid,
										'has-success' : !(searchLoadForm.daterange.$invalid),
										'has-feedback' : searchLoadForm.daterange.$invalid}"/>
			</div>
			<div class="radio-group">
				<input type="radio" ng-change="resetSearchCategory()"
					   ng-model="loadPostList.filter.dateRange"
					   name="optionsRadios" id="optionsRadios1" value=1>
				<label for="date-option">ON</label></br>
				<input type="radio" ng-change="resetSearchCategory()"
					   ng-model="loadPostList.filter.dateRange"
					   name="optionsRadios" id="optionsRadios2" value=2 selected>
				<label for="date-option">AFTER</label>
			</div>
			<button class="submit-search" ng-click="searchLoads()" id="search"><img src="images/search-btn-white.png" alt="" /></button>
		</div>
		<img class="shadow1" src="images/shadow1.png" alt="" />
		<div class="results" ng-if="loadPostList.searchTriggered">
			<div ng-show="loadPostList.messageAvailable">
				<div id="loadlist_alert"></div>
			</div>
			<table class="results-table" ng-if="loadPostList.listShow">
				<thead>
				<tr>
					<td>
						From
					</td>
					<td>
						To
					</td>
					<td>
						Load
					</td>
					<td>
						Material
					</td>
					<td>
						Pickup Date
					</td>
					<td>
						Action
					</td>
				</tr>
				</thead>
				<tbody>
				<tr ng-show="loadPostList.list" ng-repeat="post in loadPostList.list">
					<td>
						{{post.source}}
					</td>
					<td>
						{{post.destination}}
					</td>
					<td>
						{{post.load}}
					</td>
					<td>
						{{post.materialType}}
					</td>
					<td>
						{{post.pickupDate}}
					</td>
					<td>
                        <button style="background:none; color:white;"><img src="images/view.png" class="view-action" alt="" />View</button>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td>
						Total Posts: {{loadPostList.totalServerItems}}
					</td>
					<td>
					</td>
					<td>
					</td>
					<td colspan="3">
						<a href="#"
						   ng-if="!(loadPostList.pagingOptions.currentPage==1||loadPostList.totalServerItems<loadPostList.pagingOptions.pageSize)"
						   ng-click="getPagedDataAsync(loadPostList.pagingOptions.pageSize, 1)">First Page<img src="images/first.png" alt="" /></a>
						<a href="#"
						   ng-if="!(loadPostList.pagingOptions.currentPage==1)"
						   ng-click="getPagedDataAsync(loadPostList.pagingOptions.pageSize, loadPostList.pagingOptions.currentPage - 1)">Previous<img src="images/back.png" alt="" /></a>
						<a href="#"
						   ng-if="!(loadPostList.pagingOptions.currentPage==loadPostList.pagingOptions.lastPage)"
						   ng-click="getPagedDataAsync(loadPostList.pagingOptions.pageSize, loadPostList.pagingOptions.currentPage + 1)"><img src="images/nextp.png" alt="" />Next</a>
						<a href="#"
						   ng-if="!(loadPostList.pagingOptions.currentPage==loadPostList.pagingOptions.lastPage)"
						   ng-click="getPagedDataAsync(loadPostList.pagingOptions.pageSize, loadPostList.pagingOptions.lastPage)"><img src="images/last.png" alt="" />Last Page</a>
					</td>
					<!-- td colspan="3">
                        <a href="#">First Page<img src="images/first.png" alt="" /></a>
                        <a href="#">Previous<img src="images/back.png" alt="" /></a>5
                        <a href="#"><img src="images/nextp.png" alt="" />Next</a>
                        <a href="#"><img src="images/last.png" alt="" />Last Page</a>
                    </td -->
				</tr>
				</tfoot>
			</table>
		</div>
		<img class="shadow2" src="images/shadow2.png" alt="" />
	</form>
</div>
<script src="load.js"></script>