<div ng-controller="truckListCtrl" ng-init="init()">
    <form id="searchTruckForm" name="searchTruckForm" role="form">
    <div class="search-bar">
        <div class="location"><img src="images/location.png" >
            <input class="search-bar-input" location=truckPostList.filter.from id="from_city" type="text" placeholder="From Location" name="from_city"/>
        </div>
        <div class="location"><img src="images/location.png" >
            <input class="search-bar-input" type="text" id="to_city" name="to_city" glyph="false"
                                                                     location=truckPostList.filter.to placeholder="To Location"/>
        </div>
        <div class="location"><img src="images/mytruck.png" >
            <select selectpicker id="truck_type" name="truck_type"
                    ng-model="truckPostList.filter.type"
                    ng-options="type for type in truckTypeList"
                    class="search-bar-input" data-dropup-auto="false">
                <option value="">Choose one</option>
            </select>
        </div>
        <div class="location"><img src="images/location.png" >
            <input class="search-bar-input" type="text" ng-change="resetSearchCategory()" placeholder="Available Date"
                   id="daterange" name="daterange" style="margin:0;" class="search-bar-input" datepicker-popup="dd-MMMM-yyyy"
                   ng-model="truckPostList.filter.dt" is-open="opened"
                   min="minDate"
                   datepicker-options="truckPostList.dateOptions" ng-required="true" close-text="Close" />
        </div>
        <div class="radio-group">
            <input type="radio" ng-change="resetSearchCategory()"
                   ng-model="truckPostList.filter.dateRange"
                   name="optionsRadios" id="optionsRadios1" value=1>
            <label for="date-option"><span>ON</span></label></br>
            <input type="radio" ng-change="resetSearchCategory()"
                   ng-model="truckPostList.filter.dateRange"
                   name="optionsRadios" id="optionsRadios2" value=2 selected>
            <label for="date-option"><span>AFTER</span></label>
        </div>
        <button class="submit-search" ng-click="searchTrucks()" id="search"><img src="images/search-btn-white.png" alt="" /></button>
    </div>
    <img class="shadow1" src="images/shadow1.png" alt="" />
    <div class="results">
        <table class="results-table">
            <thead>
            <tr>
                <td>
                    From
                </td>
                <td>
                    To
                </td>
                <td>
                    Capacity
                </td>
                <td>
                    Available From
                </td>
                <td>
                    Action
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="truckPostList.list" ng-repeat="post in truckPostList.list">
                <td>
                    {{post.source}}
                </td>
                <td>
                    {{post.destination}}
                </td>
                <td>
                    {{post.capacity}}
                </td>
                <td>
                    {{post.availableDateDisplay}}
                </td>
                <td>
                    <img src="images/view.png" class="view-action" alt="" />View
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td colspan="2">
                    <a href="#">First Page<img src="images/first.png" alt="" /></a>
                    <a href="#">Previous<img src="images/back.png" alt="" /></a>5<a href="#"><img src="images/nextp.png" alt="" />Next</a>
                    <a href="#"><img src="images/last.png" alt="" />Last Page</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <img class="shadow2" src="images/shadow2.png" alt="" />
</form>
</div>
<!-- Truck Post Details Modal -->
<script type="text/ng-template" id="truckPostDetailModal.html">
	<!-- div ng-controller="TruckPostDetailModalCtrl" -->
	<!-- div class="modal-dialog">
		<div class="modal-content" -->
	<div class="modal-header">
		<h3 class="modal-title">Truck Post Information</h3>
	</div>
	<div class="modal-body">
		<div id="truck_detail_alert"></div>
		<div class="row">
			<!-- div class="col-sm-3">
				<div class="col-xs-5 col-sm-12">
					<h4>Owner Details</h4>
					<ul class="profile-details">
						<li>
							<div><i class="fa fa-user"></i> Name</div>
							{{truckPostModal.owner.name}}
						</li>
						<li>
							<div><i class="fa fa-map-marker"></i> Address</div>
							<p class="nopadding">{{truckPostModal.owner.address.line1}}</p>
							<p  class="nopadding" ng-if="showText(truckPostModal.owner.address.line2)">{{truckPostModal.owner.address.line2}}</p>
							<p class="nopadding">{{truckPostModal.owner.address.city}}</p>
							<p class="nopadding">{{truckPostModal.owner.address.state}}</p>
							<p class="nopadding">{{truckPostModal.owner.address.country}}</p>
							<p class="nopadding">{{truckPostModal.owner.address.pincode}}</p>
						</li>
						<li>
							<div><i class="fa fa-phone"></i> Contact</div>
							{{truckPostModal.owner.contact}}
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="col-xs-5 col-sm-12">
					<h4>Company Details</h4>
					<ul class="profile-details">
						<li>
							<div><i class="fa fa-user"></i> Name</div>
							{{truckPostModal.company.name}}
						</li>
						<li>
							<div><i class="fa fa-map-marker"></i> Address</div>
							<p class="nopadding">{{truckPostModal.company.address.line1}}</p>
							<p  class="nopadding" ng-if="showText(truckPostModal.company.address.line2)">{{truckPostModal.company.address.line2}}</p>
							<p class="nopadding">{{truckPostModal.company.address.city}}</p>
							<p class="nopadding">{{truckPostModal.company.address.state}}</p>
							<p class="nopadding">{{truckPostModal.company.address.country}}</p>
							<p class="nopadding">{{truckPostModal.company.address.pincode}}</p>
						</li>
						<li>
							<div><i class="fa fa-phone"></i> Contact</div>
							{{truckPostModal.company.contact}}
						</li>
					</ul>
				</div>
			</div -->
			<div class="col-sm-6">
				<div class="col-xs-4 col-sm-12">
					<h4>Truck Details</h4>
					<ul class="profile-details">
						<li>
							<div><i class="fa fa-truck"></i> Type</div>
							{{truckPostModal.truck_details.type}}
						</li>
						<li>
							<div><i class="fa fa-tag"></i> Make</div>
							{{truckPostModal.truck_details.make}} <br/>
						</li>
						<li>
							<div><i class="fa fa-bookmark"></i> Model</div>
							{{truckPostModal.truck_details.model}} <br/>
						</li>
						<li>
							<div><i class="fa fa-gavel"></i> Reg No</div>
							{{truckPostModal.truck_details.reg_no}}
						</li>
						<li>
							<div><i class="fa fa-shopping-cart"></i> Load</div>
							{{truckModal.truck_details.maximum_load.quantity}} &nbsp; Tons
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-xs-5 col-sm-12">
					<h4>Truck Post Details</h4>
					<ul class="profile-details">
						<li>
							<div><i class="fa fa-truck"></i> From</div>
							{{truckPostModal.posts.truck_post.availability.pickup_location}}
						</li>
						<li>
							<div><i class="fa fa-tag"></i> To</div>
							{{truckPostModal.posts.truck_post.availability.delivery_location}} <br/>
						</li>
						<li>
							<div><i class="fa fa-bookmark"></i> Load</div>
							{{truckPostModal.posts.truck_post.maximum_load.quantity}}&nbsp; {{truckPostModal.posts.truck_post.maximum_load.unit}} <br/>
						</li>
						<li>
							<div><i class="fa fa-gavel"></i> Available Date</div>
							{{truckPostModal.posts.truck_post.availability.date}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>
<script src="truck.js"></script>