<div ng-controller="indexCtrl">
	<div class="truckdetails">
		<div class="slider">
			<p class="nameplace trucks"><img id="profilepic" src="images/truck.png" alt=""><a href="#">Trucks Posts</a></p>
			<ul class="truckdetailpane"  ng-repeat="post in truckPosts" class="infos" ng-class="truckPosting.animation" ng-show="1==1">
				<li>
					From: &nbsp; {{post.source}}
				</li>
                <li>
					To: &nbsp; {{post.destination}}
				</li>
                <li>
					Capacity: &nbsp; {{post.capacity}}
				</li>
                <li>
					Date: &nbsp; {{post.availableDate}}
				</li>
			</ul>
		</div>
		<ul class="button-opt">
			<li class="find-more-btn"><input class="button-option" type="submit" name="findmore" ng-click="searchTrucks()" value="FIND MORE"></li>
			<li class="view-more-btn"><input class="button-option" type="submit" name="viewthis" value="VIEW THIS TRUCK"></li>
		</ul>
	</div>
	<div class="loaddetails">
		<div class="slider">
			<p class="nameplace"><img id="profilepic" src="images/load.png" alt=""><a href="#">Load Posts</a></p>
			<ul class="loaddetailpane" ng-repeat="post in loadPosts" ng-class="loadPosting.animation" class="infos" ng-show="1==1">
				<li>
					From: &nbsp; {{post.source}}
				</li>
                <li>
                    To: &nbsp; {{post.destination}}
                </li>
                <li>
                    Capacity: &nbsp; {{post.load}}
                </li>
                <li>
                    Material: &nbsp; {{post.materialType}}
                </li>
                <li>
                    Date: &nbsp; {{post.pickupDate}}
                </li>
			</ul>
		</div>
		<ul class="button-opt">
			<li class="find-more-btn"><input class="button-option" type="submit" name="findmore" ng-click="searchLoad()" value="FIND MORE"></li>
			<li class="view-more-btn"><input class="button-option" type="submit" name="viewthis" value="VIEW THIS LOAD"></li>
		</ul>
	</div>
</div>
<script src="index.js"></script>