<div id="truck_owner" ng-controller="truckOwnerCtrl">
    <select class="pagepane-selection">
        <option>1</option>
        <option>2</option>
    </select>
	<div id="myTruckListMessage" ng-show="myTruckList.messageAvailable">
		<div id="truck_home_alert" ></div>
	</div>
	<div ng-if="truckOwnerPage.showTruckList">
		<div ng-include src="template.myTrucks"></div>
	</div>
	<div ng-if="truckOwnerPage.showManageTruck">
		<div ng-include src="template.editTruck"></div>
	</div>
    <div ng-if="truckOwnerPage.showManagePost">
        <div ng-include src="template.managePost"></div>
    </div>
	<div ng-if="truckOwnerPage.showPostList">
		<div ng-include src="template.truckPosts"></div>
	</div>
</div>
<script src="truck_owner.js"></script>