<div ng-controller="truckOwnerTrucksCtrl">
	<div class="mytruckpane pagepane">
		<div class="div-header">
			<img class="pane-icon" src="images/truck.png" alt="" />
			<h4>My Trucks <span>({{myTruckList.totalServerItems}})</span></h4>
			<input type="textbox" class="searchbox" name="mytrucksearch" Value="" placeholder="Search" />
			<button><img src="images/search-btn-white.png" alt="Search" /></button>
		</div>
		<div class="posts">
			<div id="myTruckListMessage" ng-show="myTruckList.messageAvailable && !myTruckList.listShow">
				<div id="myTrucklist_alert" ></div>
			</div>
			<ul ng-show="myTruckList.listShow" ng-repeat="truck in myTruckList.list" class="runtime-div">
				<img class="runtime-icon" src="images/truck.png" alt="" />
				<li class="runtime-details"><b><a href="#" ng-click="getTruckDetails(truck.truck_id)">{{truck.regNo}}</a></b></li>
				<li class="runtime-details">{{truck.make}} - {{truck.model}}</li>
				<li class="runtime-details">{{truck.capacity}}</li>
				<li class="runtime-options">
					<button ng-click="addTruckPost(truck.truck_id)"><img class="edit-icon" src="images/add-w.png" alt="" />Post</button>
					<button ng-click="editTruck(truck.truck_id)"><img class="edit-icon" src="images/edit-w.png" alt="" />Edit</button>
					<button ng-click="removeTruck(truck.truck_id, truck.regNo)"><img class="edit-icon" src="images/delete-w.png" alt="" />Delete</button>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- Remove Truck Confirmation Modal -->
<script type="text/ng-template" id="myTruckRemoveModal.html">
	<!-- div ng-controller="TruckRemoveModalCtrl" -->
		<div class="modal-header">
			<h3 class="modal-title">Remove Truck Confirmation</h3>
		</div>
		<div class="modal-body">
			<div id="remove_truck_alert"></div>
			<form name="removeTruckForm" id="removeTruckForm">
				<div class="form-group">
					<div class="row">
						<div class="col-md-6 col-md-offset-1">Do you want to remove this truck?</div>
						<div class="col-md-6 col-md-offset-3 strong">
							<h3>{{truckToInactivate.reg_no}}</h3>
						</div>
					</div>
				</div>
				<button type="button" ng-if="!showClose" class="btn btn-danger" ng-click="inActivateTruck(truckToInactivate)">Yes</button>
				<button type="button" ng-if="!showClose" class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
			</form>
		</div>
		<div class="modal-footer" ng-if="showClose">
			<!-- button type="button" class="btn btn-danger">Yes</button -->
			<button class="btn btn-warning" ng-click="cancel()">Close</button>
		</div>
	<!-- /div -->
</script>
<!-- Truck Details Modal -->
<script type="text/ng-template" id="myTruckDetailModal.html">
	<!-- div ng-controller="TruckDetailModalCtrl" -->
	<!-- div class="modal-dialog">
		<div class="modal-content" -->
	<div class="modal-header">
		<h3 class="modal-title">Truck Information</h3>
	</div>
	<div class="modal-body">
		<div id="truck_detail_alert"></div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-xs-4 col-sm-4">
					<!-- h4>Truck Details</h4 -->
					<ul class="profile-details">
						<li>
							<div><i class="fa fa-truck"></i> Type</div>
							{{truckModal.truck_details.type}}
						</li>
						<li>
							<div><i class="fa fa-tag"></i> Make</div>
							{{truckModal.truck_details.make}} <br/>
						</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4">
					<ul class="profile-details">
						<li>
							<div><i class="fa fa-bookmark"></i> Model</div>
							{{truckModal.truck_details.model}} <br/>
						</li>
						<li>
							<div><i class="fa fa-gavel"></i> Reg No</div>
							{{truckModal.truck_details.reg_no}}
						</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4">
					<ul class="profile-details">
						<li>
							<div><i class="fa fa-shopping-cart"></i> Load</div>
							{{truckModal.truck_details.maximum_load.quantity}} &nbsp; Tons
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>
<script src="truck_owner_trucks.js"></script>