<div ng-controller="truckOwnerPostsCtrl">
	<div class="mypostpane pagepane">
		<div class="div-header">
			<img class="pane-icon" src="images/posts.png" alt="" />
			<h4>My Posts <span>({{myTruckPostList.totalServerItems}})</span></h4>
			<input type="textbox" class="searchbox" name="mytrucksearch" Value="" placeholder="Search" />
			<button><img src="images/search-btn-white.png" alt="Search" /></button>
		</div>
		<div class="posts">
			<ul ng-repeat="post in myTruckPostList.list" class="runtime-div slide-left">
				<img class="runtime-icon" src="images/truck-posts.png" alt="" />
				<li class="runtime-details"><a href="#" ng-click="getTruckPostDetailById(post.truck_id, post.post_id)"><b>{{post.regNo}}</b></a></li>
				<li class="runtime-details">{{post.source}} - {{post.destination}}</li>
				<li class="runtime-details">{{post.availableDateDisplay}}</li>
				<li class="runtime-options">
					<!-- button><img class="edit-icon" src="images/add.png" alt="" />Add</button -->
					<button><img class="edit-icon" src="images/edit-w.png" alt="" ng-click="editTruckPost(post.truck_id, post.post_id, post.availableDate)"/>Edit</button>
					<button><img class="edit-icon" src="images/delete-w.png" alt="" ng-click="removeTruckPost(post.truck_id, post.post_id, post.regNo, post.capacity, post.availableDate)"/>Delete</button>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- Remove Truck Post Confirmation Modal -->
<script type="text/ng-template" id="myTruckPostRemoveModal.html">
	<!-- div ng-controller="TruckPostRemoveModalCtrl" -->
	<div class="modal-header">
		<h3 class="modal-title">Remove Truck Confirmation</h3>
	</div>
	<div class="modal-body">
		<div id="remove_truck_post_alert"></div>
		<form name="removeTruckPostForm" id="removeTruckPostForm">
			<div class="form-group">
				<div class="row">
					<div class="col-md-6 col-md-offset-1">Do you want to remove this post?</div>
					<div class="col-md-12 col-md-offset-1">
						<table class="table">
							<thead>
							<tr>
								<th>Reg No</th>
								<th>Available Ton</th>
								<th>Available Date</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>{{truckPostToInactivate.reg_no}}</td>
								<td>{{truckPostToInactivate.available_ton}}</td>
								<td>{{truckPostToInactivate.available_date}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- button type="button" class="btn btn-danger" ng-click="inActivateTruckPost(truckPostToInactivate)">Yes</button>
			<button type="button" class="btn btn-default pull-right" ng-click="cancel()">Cancel</button -->
			<button type="button" ng-if="!showClose" style="background-color: rgb(0, 132, 255);" class="buttons" ng-click="inActivateTruckPost(truckPostToInactivate)">Yes</button>
			<button type="button" ng-if="!showClose" style="background-color: rgb(45, 45, 45);" class="buttons" ng-click="cancel()">Cancel</button>
		</form>
	</div>
	<div class="modal-footer" ng-if="showClose">
		<!-- button type="button" class="btn btn-danger">Yes</button -->
		<button style="background-color: rgb(45, 45, 45);"  class="buttons" ng-click="cancel()">Close</button>
	</div>
	<!-- /div -->
</script>
<script src="truck_owner_posts.js"></script>